body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: url('/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#banner {

}

.hoverable {
  opacity: 0.75;
}

.hoverable:hover {
  opacity: 1.00;
}

.col {
  /*margin: : 4px;*/
}
