body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin: 0;
  padding: 0 16px;
}

#sub-header {
  margin: 0;
  padding: 16px;
}

hr {
  margin: 8px 12px;
}

main {
  flex: 1 0 auto;
  background: url('/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-panel {
  min-height: 400px;
  border-radius: 8px;
}

.hoverable {
  opacity: 0.75;
}

.hoverable:hover {
  opacity: 1.00;
}

@media all and (max-width: 480px) {
    .card-panel {
        min-height: 0;
    }
}
