body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: url('/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hoverable {
  opacity: 0.5;
}

.hoverable:hover {
  opacity: 1.0;
}

footer h6 {
  text-align: center;
}
